/************* UTILITY *************/
.heading-secondary {
  font-size: 3rem;
}

.heading-primary {
  font-size: 3.7rem;
}

/************* topbar *************/
.top-bar .office-hours {
  display: none;
}

/************* navbar *************/
body {
  overflow-x: hidden;
}

.nav-links {
  position: absolute;
  padding: 1rem;
  right: 0;
  top: 21.8rem;
  height: 50vh;
  width: 50%;
  background: #233870;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  display: none;
}

.nav-active {
  transform: translateX(0%);
}

.navbar ul li {
  width: 100%;
  text-align: center;
  padding: 0;
}

.navbar ul li:hover {
  width: 100%;
}

.navbar .burguer {
  display: block;
}


/************* HERO *************/

.hero .hero-content {
  width: 100%;
  align-items: center;
}

.hero .hero-content .hero-title {
  font-size: 4.8rem;
  text-align: center;
  padding: 0 1rem;
}

.hero .hero-content .lead {
  line-height: 1;
  padding: 0 1rem;
  text-align: center;
}
.hero .hero-content .price-value {
  font-size: 4.8rem;
}

/************ features ************/

.features-item {
  font-size: 1.6rem;
}
.features-item i{
  font-size: 5rem;
}

/************* TESTIMONIALS *************/
.testimonials {
  height: 100%;
  padding: 4rem 3rem;
}

.testimonials .testimonials-boxes {
  flex-direction: column;
}



/************* Under 540px *************/
@media screen and (max-width: 540px ) {

  body {
    overflow-x: hidden;
  }

  /************* utility *************/
  .heading-secondary {
    font-size: 2.4rem;
  }

  .heading-primary {
    font-size: 3rem;
  }

  /************* topbar *************/

  .top-bar .logo img {
    display: none;
  }

  .top-bar .logo h2 {
    font-size: 3rem;
  }

  .top-bar .contact-phone i {
    font-size: 2rem;
  }

  /************* HERO *************/

  .hero .hero-content .hero-title {
    font-size: 3.5rem;
  }

  .hero .hero-content .price-value {
    font-size: 4rem;
  }

  /************* features *************/

  .features {
    flex-shrink: 2;
    height: 100%;
  }
  .features-box {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .features-item {
    margin: 1rem 0;
  }

  /************* testimonials *************/
}